@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --background: #ffffff;
  --background-white: #F6F8FA;
  --green: #0b7b1d;
  --black: #000000;
  --white: #ffffff;
  --input: #ffffff;
  --texto: rgba(0, 0, 0, 0.85);
  --texto-opacity: rgba(0, 0, 0, 0.45);
  --icono: #000000;
  --notificacion: #ffffff;
  --borde: #d0d7de;
  --catalogo: #ffffff;
  --skeleton: #F6F8FA;
  --skeleton-white: #d0d7de;
  --progress: #f5f5f5;
  --progress-white: #f5f5f5;
  --arrow: rgba(0, 0, 0, 0.75);
  --image: url(../img/credicity.png);
  --image-total: url(../img/error/404.png);
}

html[data-theme="Black-Mode"] {
  --background: #010409;
  --background-white: #0d1117;
  --input: #0D1117;
  --texto: rgba(255, 255, 255, 0.85);
  --texto-opacity: rgba(255, 255, 255, 0.45);
  --icono: #ffffff;
  --notificacion: #0D1117;
  --borde: #30363d;
  --catalogo: #0D1117;
  --skeleton: #010409;
  --skeleton-white: #0d1117;
  --progress: #010409;
  --progress-white: #0d1117;
  --arrow: rgba(255, 255, 255, 0.75);
  --image: url(../img/credicity.png);
  --image-total: url(../img/error/404-white.png);
}

/* ============================================================*/
/* Html
/* ============================================================*/
.fa-taxi {
  font-size: 12px;
  color: #ffffff;
  opacity: .1;
  position: absolute;
  left: 0;
  right: 0;
  top: 5px;
}

.formulario {
  padding: 0 100px;
}

/*===Phone===**/
@media (max-width: 575.98px) {
  .formulario {
    padding: 0;
  }
}

/*===Ipad===**/
@media (min-width: 559px) and (max-width: 991.98px) {
  .formulario {
    padding: 0;
  }
}

/*===Ipad Pro===**/
@media (min-width: 992px) and (max-width: 1199.98px) {
  .formulario {
    padding: 0;
  }
}

/* ============================================================*/
/* Header
/* ============================================================*/
.ant-layout-header.submenu {
  background: var(--black);
  padding: 6px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.ant-layout-header.submenu a {
  font-size: 15px;
  color: var(--white);
  cursor: pointer;
  transition: all 0.5s;
}

.ant-layout-header.menu {
  padding: 12px 0;
  margin: 33px 0 0 0;
}

.ant-scrolling-effect .submenu {
  width: calc(100% - 10px);
}

/*===Display===**/
@media (max-width: 1366px) {
  .ant-scrolling-effect .submenu {
    width: 100%;
  }
}

.ant-layout-header .credicity {
  background-image: var(--image);
  background-size: contain;
  background-repeat: no-repeat;
  width: 180px;
  height: 56px;
  display: inline-block;
}

/* ============================================================*/
/* Loading
/* ============================================================*/
.ant-layout-content.loading {
  height: calc(100vh - 119px);
}

/*===Phone===**/
@media (max-width: 575.98px) {
  .ant-layout-content.loading {
    height: calc(100vh - 200px);
  }
}

/*===Ipad===**/
@media (min-width: 559px) and (max-width: 991.98px) {
  .ant-layout-content.loading {
    min-height: 600px;
    height: calc(100vh - 180px);
  }
}

/*===Ipad Pro===**/
@media (min-width: 992px) and (max-width: 1199.98px) {
  .ant-layout-content.loading {
    min-height: 590px;
    height: calc(100vh - 180px);
  }
}

/* ============================================================*/
/* Not Found
/* ============================================================*/
.ant-layout-content.not-found {
  height: calc(100vh - 119px);
}

/*===Phone===**/
@media (max-width: 575.98px) {
  .ant-layout-content.not-found {
    height: calc(100vh - 200px);
  }
}

/*===Ipad===**/
@media (min-width: 559px) and (max-width: 991.98px) {
  .ant-layout-content.not-found {
    height: calc(100vh - 180px);
  }
}

/*===Ipad Pro===**/
@media (min-width: 992px) and (max-width: 1199.98px) {
  .ant-layout-content.not-found {
    height: calc(100vh - 180px);
  }
}

/* ============================================================*/
/* ScrollBar
/* ============================================================*/
::-webkit-scrollbar {
  height: 10px;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 1px;
  background-color: #babac0;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a5;
}

@media (max-width: 1199.98px) {
  ::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
}

/* ============================================================*/
/* Footer
/* ============================================================*/
.ant-layout-footer img {
  width: 165px;
  height: auto;
}

.ant-scrolling-effect .ant-layout-footer {
  width: calc(100% - 10px);
}

/*===Display===**/
@media (max-width: 1366px) {
  .ant-scrolling-effect .ant-layout-footer {
    width: 100%;
  }
}